body{
  background:url(img/background.png) repeat 0 0;
}

div, nav, ul, li, html, body, h1, header, nav, p, a{
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  vertical-align: top;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5{
  margin-top:0px;
}

h4{
  margin-bottom: 3px;
}

html{
  width: 100%;
  height: 100%;
  overflow: auto;
}

body{
  width: 100%;
  height: 100%;
  overflow: auto;
}

div{
  margin: 0px;
  padding: 0px;
  display: inline-block;
}

li{
  text-align:left;
}

nav{
  width: 100%;
  background-color:rgb(71, 71, 71);
}

nav a{
  width: 33.3%;
  font-size: 150%;
  border: 1px solid black;
  display:inline-block;
  text-align: center;
  padding:1% 2% 1% 2%;
  color:rgb(206, 167, 39);
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

header{
  width: 100%;
  border-style: none;
  width: 100%;
  background-color:  rgb(38, 60, 94);
}

header>a{
  display: inline-block;
  width: 60%;
  margin-left:20%;
  height: 100%;
  color: white;
}

header h1{
  display: inline-block;
  color: white;
  font-size: 500%;
  width: 100%;
  font-family: 'Shadows Into Light', cursive;
  text-shadow: 2px 2px black;
  height: 100%;
}

header>p{
  width: 20%;
  float:right;
  padding:1%;
}

.moitie{
  display: inline-block;
  width: 50%;
  text-align: center;
}

#presentation{
  margin-top: 2em;
  display: inline-block;
  background-color: #47302b;
  width: 70%;
  height: 40%;
  padding: 2%;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

#presentation_img{
  margin-top: 2em;
  display: inline-block;
  width: 70%;
}

/*BARE DE RECHERCHE*/
.search {
  margin-top: 4em;
  width: 80%;
  height: 3em;
  display: inline-block;
  border: 1px solid black;
  box-shadow: 6px 6px black;
}

.searchTerm {
  width: 80%;
  height: 100%;
  box-sizing: border-box;
}

.searchTerm:focus{
  color: #47302b;
}

.searchButton {
  width: 20%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: inline-block;
  box-sizing: border-box;
}

/*PAGE DE CONNEXION*/

.div_ligne_form{
  display: inline;
  line-height: 2em;
}

.input{
  margin:1em;
}

/*LISTE*/
#div_liste{
  margin-top: 2em;
  margin-bottom: 4em;
  width:70%;
  padding:1% 2% 1% 2%;
  background-color: rgb(104, 183, 179);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

#div_liste *{
  text-align: left;
}

.div_contenu{
  width: 55%;
  text-align: left;
}

.div_contenu *{
  text-align: left;
}

.img_item{
  float:right;
  margin:0px 2% 0px 2%;
}

.div_action{
  width: 45%;
  text-align: right;
}

.div_action *{
  text-align: right;
}

.div_ligne_liste{
  margin-top: 1%;
  margin-bottom: 2%;
  width: 100%;
}

.ligne{
  width:100%;
  border-bottom:1px solid black;
}

#div_entete{
  width: 70%;
  padding: 1% 2% 1% 2%;
  margin-top: 4em;
  background-color: white;
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
  text-align: left;
}

#div_entete p{
  margin:auto;
}

.div_creation{
  margin:auto;
  margin-top:4em;
  margin-bottom:4em;
  padding: 2% 3% 1% 3%;
  text-align: left;
  background-color: rgb(104, 183, 179);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 125%;
  width: 100%;
  background-color: rgb(51, 57, 66);
  color: white;
  text-align: center;
}

a:hover{
  color:white;
}

.button{
  display: inline-block;
  border-radius: 10px;
  border: 1px solid black;
  background-color: rgb(150, 150, 150);
  color:black;
  box-shadow: 4px 4px 0px black;
  margin:1em;
  padding:0.3em 0.6em 0.3em 0.6em;
  float:right;
}

.button:hover{
  background-color: rgb(183, 147, 110);
  color: black;
}
